@font-face {
  font-family: digib;
  src: url(../fuentes/DS-DIGIB.TTF);
}

html, body {
  height: 100%; 
  margin: 0;
  background: #000; 
  overflow: hidden; 
}

body {
  display: flex;
  align-items:center;
  justify-content: center;
}

#countdown{
  position: absolute;
  align-items:center;
  justify-content: center;
  color: aliceblue;
  font-family: digib;
  font-size: 50px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}