@import url('https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css');
@font-face {
    font-family: BoneBrigade;
    src: url(../fuentes/BONEAPA.ttf);
}

@font-face {
    font-family: tipo;
    src: url(../fuentes/stone.otf);
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-image: url("../imagenes/oscuro.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x:hidden;
    height: 100vh;
}

/*Contenidor horitzontal*/
.flex-container {
    border-bottom: 2px solid #ea9352;
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
    align-items: center;
    grid-area: flexCon;
    height: 20vh;
}

/*Títol de la web*/
.flex-item {
    width: 60%;
    text-align: center;
}

/*Lletres del títol*/
.flex-item span {
    font-size: 100px;
    font-family: BoneBrigade, serif;
    color: #ea9352;
    display: inline-block;
}

/*Fem un hover al títol per activar l'animació*/
.flex-item span:hover {
    animation: saltar 1s infinite;
}

/*Animació títol*/
@keyframes saltar {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}

/*Posición del icono*/
.flex-icono {
    width: 12%;
    text-align: center;
}

/*Tamany del icono*/
.flex-icono img {
    width: 100%;
    margin: 5px;
}

.flex-perfil {
    width: 8%;
    text-align: center;
}

.flex-perfil img {
    width: 100%;
}


.perfilCavernicola:hover {
    animation: temblar 0.5s;
    animation-iteration-count: infinite;
}


/*Animació de la destral*/
#icono:hover {
    transform: rotate(-360deg);
    transition: 0.5s;
}

@keyframes temblar {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.fondoVideos{
    background:url("imagenes/fondo.jpg");
    opacity: 0.8;
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 80vh;
}


.videos{
    border-bottom: 2px solid #ea9352;
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 1100px;
}

.reproduce{
    padding: 20px;
}

.texto{
    width: 100%;
}

.backgrVideos{
    background: url("imagenes/fondo.jpg");
    overflow: scroll;
}

h1{
    font-family: tipo;
    font-size: 30px;
}

.title{
    margin-bottom: 50px;
    background: url("imagenes/fondotitulo.jpg");
    height: 50px;
    margin-top: -50px;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

h2{
    font-family: BoneBrigade;
    font-size: 40px;
}

video:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
}

footer{
    width: 100%;
    height: 150px;
    background: black;
    opacity: 0.7;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

footer div{
    margin-top: 20px;
    width: 100%;
}

footer p{
    color: #EEEEEE;
    margin-top: 40px;
}


.btnCerrar:hover, .btnCerrar:focus {
    box-shadow: inset -5em 0 0 0 var(--hover), inset 5em 0 0 0 var(--hover);
}

.btnCerrar {
    --color: #ea9352;
    --hover: #ffdc7f;
}

.btnCerrar {
    color: var(--color);
    transition: 0.25s;
}

.btnCerrar:hover, .btnCerrar:focus {
    border-color: var(--hover);
    color: #fff;
}

.btnCerrar {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 0.5em 1em;
}

.flecha {
    width: 10%;
    margin-right: 90%;
}

.atras{
    animation: backOutLeft;
    animation-duration: 1s;
}