@import url('https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css');
@import url('https://fonts.googleapis.com/css?family=Arapey|Cantarell|Comfortaa|Khand|Russo+One|Ubuntu');

@font-face {
    font-family: BoneBrigade;
    src: url(../../../fuentes/BONEAPA.ttf);
}

@font-face {
    font-family: tipo;
    src: url(../../../fuentes/stone.otf);
}

:root {
    /* COLORS */
    --yellow: #f29f05;
    --redcavern: #8C2703;
    --orangeskin: #ea9352;
    --brown: #59381c;

    /* RADII */
    --button-radius: 0.7rem;

    /* SIZES */
    --max-width: 758px;
    --max-height: 420px;

    --borderWidth: 7px;
    --height: 24px;
    --width: 12px;
    --borderColor: #78b13f;


    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-image: url("../../../imagenes/oscuro.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.welcome {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    grid-area: welcome;
}

h2 {
    text-align: center;
}

.imageRol {
    width: 20%;
    margin-left: 5px;
}

button {
    margin-left: 45%;
    margin-right: 45%;
    grid-area: button;
}

/*Contenidor horitzontal*/
.flex-container {
    border-bottom: 2px solid #ea9352;
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
    align-items: center;
    grid-area: flexCon;
}

/*Títol de la web*/
.flex-item {
    width: 60%;
    text-align: center;
}

/*Lletres del títol*/
.flex-item span {
    font-size: 125px;
    font-family: BoneBrigade, serif;
    color: #ea9352;
    display: inline-block;
}

/*Fem un hover al títol per activar l'animació*/
.flex-item span:hover {
    animation: saltar 1s infinite;
}

/*Animació títol*/
@keyframes saltar {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}

/*Posición del icono*/
.flex-icono {
    width: 12%;
    text-align: center;
}

/*Tamany del icono*/
.flex-icono img {
    width: 100%;
    margin: 5px;
}

.flex-perfil {
    width: 8%;
    text-align: center;
}

.flex-perfil img {
    width: 100%;
}

.btnCerrar:hover, .btnCerrar:focus {
    box-shadow: inset -5em 0 0 0 var(--hover), inset 5em 0 0 0 var(--hover);
}

.btnCerrar {
    --color: #ea9352;
    --hover: #ffdc7f;
}

.btnCerrar {
    color: var(--color);
    transition: 0.25s;
}

.btnCerrar:hover, .btnCerrar:focus {
    border-color: var(--hover);
    color: #fff;
}

.btnCerrar {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 0.5em 1em;
}

.perfilCavernicola:hover {
    animation: temblar 0.5s;
    animation-iteration-count: infinite;
}


/*Animació de la destral*/
#icono:hover {
    transform: rotate(-360deg);
    transition: 0.5s;
}

@keyframes temblar {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

body {
    display: grid;
    grid-template:
    "flexCon"   200px
    "segundoFondo" auto /
    auto;
}
