
html, body {
    height: 100vh;
    overflow: hidden;
    cursor: none;
    background: #F8B9AE;
}
@media (pointer: coarse) {
    html, body {
        cursor: default;
    }
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: 0.5s ease-in-out;
}
.down .slider {
    transform: scale(0.9);
}
.down .slider .item .tit {
    opacity: 0;
}
.slider * {
    outline: none;
}
.slider .item {
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 100vh;
}
.slider .item svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}
.slider .item .tit {
    text-align: center;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    letter-spacing: 2rem;
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 7vw;
    transition: all 0.3s ease-in-out;
}
#slider-1 {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
}
#slider-1 .tit {
    display: none;
}
#slider-2 {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    transform: scale(1) !important;
    pointer-events: none;
}
.cursor {
    pointer-events: none;
    position: absolute;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
    background: rgba(255, 255, 255, .2);
    box-shadow: 0 0 0 5px rgba(0, 0, 0, .05);
    transition: transform ease-in-out 0.2s, background ease-in-out 0.2s;
    transform: translateZ(0);
    z-index: 100;
    left: -9999px;
}
.cursor:before, .cursor:after {
    content: '';
    position: absolute;
    border-left: 6px solid rgba(255, 255, 255, .5);
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    top: 10px;
    left: 52px;
    opacity: 0;
    transition: left ease-in-out 0.1s, opacity ease-in-out 0.2s;
}
.cursor:after {
    border-left: none;
    border-right: 6px solid rgba(255, 255, 255, .5);
    left: -27px;
}
.down .cursor {
    transform: scale(0.7) translateZ(0);
    background: rgba(255, 255, 255, .4);
}
.down .cursor:before, .down .cursor:after {
    opacity: 1;
    left: 49px;
}
.down .cursor:after {
    left: -24px;
}
@media (pointer: coarse) {
    .cursor {
        display: none;
    }
}
.the-most {
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 0;
    width: 50vw;
    max-width: 100px;
    padding: 10px;
}
.the-most img {
    max-width: 100%;
}
