@import url('https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css');
body {
    background: #51bba7;
    font-family: 'Concert One', cursive;
    margin: 0;
    overflow: hidden;
    padding: 0;
    display: flex;
    align-items: center;
}
body .text {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 30em;
    text-align: center;
    top: 40%;
}
body .container {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 500px;
}
body .container:after {
    animation: shadow-anima 1.2s infinite cubic-bezier(0.55, 0.01, 0.16, 1.34);
    animation-delay: 0.1s;
}
body .container .caveman {
    height: 300px;
    position: absolute;
    width: 250px;
}
body .container .caveman__head {
    position: absolute;
    background-color: #13242c;
    border-radius: 50px;
    height: 140px;
    left: 60px;
    top: 25px;
    width: 65px;
}
body .container .caveman__head:after, body .container .caveman__head:before {
    content: "";
    position: absolute;
    background-color: #13242c;
    border-radius: 10px;
    height: 20px;
    width: 7px;
}
body .container .caveman__head:after {
    left: 35px;
    top: -8px;
    transform: rotate(20deg);
}
body .container .caveman__head:before {
    left: 30px;
    top: -8px;
    transform: rotate(-20deg);
}
body .container .caveman__head--eye {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    background-color: #eab08c;
    border-radius: 50px;
    height: 16px;
    left: 45%;
    top: 40px;
    width: 48px;
}
body .container .caveman__head--eye:after, body .container .caveman__head--eye:before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #13242c;
    border-radius: 50%;
    height: 5px;
    width: 5px;
}
body .container .caveman__head--eye:after {
    left: 5px;
}
body .container .caveman__head--eye:before {
    right: 9px;
}
body .container .caveman__head--nose {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #d9766c;
    border-left: 8px solid rgba(19, 36, 44, 0.1);
    border-radius: 10px;
    box-sizing: border-box;
    height: 35px;
    left: 45%;
    top: 12px;
    width: 15px;
}
body .container .caveman__shape {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    border-radius: 50%;
    height: 140px;
    overflow: hidden;
    top: 70px;
    width: 140px;
}
body .container .caveman__shape--circle {
    position: absolute;
    border-radius: 50%;
    height: 60px;
    width: 60px;
}
body .container .caveman__shape--circle:after, body .container .caveman__shape--circle:before {
    content: "";
    position: absolute;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}
body .container .caveman__shape--circle:after {
    left: 50px;
    top: 10px;
}
body .container .caveman__shape--circle:before {
    left: 60px;
    top: 45px;
}
body .container .caveman__shape--circle:nth-child(1) {
    left: -12px;
    top: 80px;
}
body .container .caveman__shape--circle:nth-child(2) {
    right: 10px;
    top: 0px;
    transform: rotate(90deg);
}
body .container .caveman__shape--circle:nth-child(2):after {
    left: 65px;
    top: 10px;
}
body .container .caveman__shape--circle:nth-child(2):before {
    display: none;
}
body .container .caveman__arm-right {
    position: absolute;
    background-color: #eab08c;
    border-left: 8px solid rgba(19, 36, 44, 0.1);
    border-radius: 50px;
    box-sizing: border-box;
    height: 180px;
    left: 135px;
    top: 80px;
    transform-origin: 30px 30px;
    width: 45px;
    z-index: 1;
}
body .container .caveman__arm-right--club {
    position: absolute;
    border-bottom: 110px solid #601513;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    left: -60px;
    top: 120px;
    transform: rotate(70deg);
    width: 20px;
}
body .container .caveman__arm-right--club:after, body .container .caveman__arm-right--club:before {
    position: absolute;
    content: "";
    background-color: #601513;
    border-radius: 50%;
    left: 0;
}
body .container .caveman__arm-right--club:after {
    height: 20px;
    width: 20px;
    top: -10px;
}
body .container .caveman__arm-right--club:before {
    height: 40px;
    width: 40px;
    left: -10px;
    top: 90px;
}
body .container .caveman__leg {
    position: absolute;
    border-radius: 10px;
    height: 55px;
    top: 200px;
    width: 10px;
}
body .container .caveman__leg:after {
    position: absolute;
    content: "";
    border-radius: 50%;
    height: 10px;
    left: -5px;
    top: 15px;
    width: 10px;
}
body .container .caveman__leg--foot {
    position: absolute;
    border-radius: 25px 25px 0 0;
    height: 25px;
    left: -38px;
    top: 30px;
    width: 50px;
}
body .container .caveman__leg--foot:after {
    left: -6px;
    content: "";
}
body .container .caveman__leg--foot:before {
    left: 8px;
    transform: scale(0.6);
    content: "";
}
body .container .caveman__leg--foot:after, body .container .caveman__leg--foot:before {
    position: absolute;
    background-color: #eab08c;
    border-radius: 50%;
    bottom: 0px;
    height: 15px;
    transform-origin: bottom;
    width: 15px;
}
body .container .caveman__leg--foot--fingers {
    left: 15px;
    transform: scale(0.6);
    position: absolute;
    background-color: #eab08c;
    border-radius: 50%;
    bottom: 0px;
    height: 15px;
    transform-origin: bottom;
    width: 15px;
}
body .container .caveman__leg--foot--fingers:after {
    left: 11px;
    content: "";
    position: absolute;
    background-color: #eab08c;
    border-radius: 50%;
    bottom: 0px;
    height: 15px;
    transform-origin: bottom;
    width: 15px;
}
body .container .caveman__leg:nth-child(1) {
    background-color: #b2524d;
    left: 95px;
}
body .container .caveman__leg:nth-child(1):after {
    background-color: #b2524d;
}
body .container .caveman__leg:nth-child(1) .caveman__leg--foot {
    background-color: #b2524d;
}
body .container .caveman__leg:nth-child(1) .caveman__leg--foot:after {
    background-color: #b2524d;
}
body .container .caveman__leg:nth-child(1) .caveman__leg--foot:before {
    display: none;
}
body .container .caveman__leg:nth-child(2) {
    background-color: #d9766c;
    left: 115px;
}
body .container .caveman__leg:nth-child(2):after {
    background-color: #d9766c;
}
body .container .caveman__leg:nth-child(2) .caveman__leg--foot {
    background-color: #d9766c;
}
body .container .caveman:nth-child(1) {
    right: 20px;
}
body .container .caveman:nth-child(1) .caveman__shape {
    background-color: #d13433;
}
body .container .caveman:nth-child(1) .caveman__shape--circle {
    background-color: #932422;
}
body .container .caveman:nth-child(1) .caveman__shape--circle:after, body .container .caveman:nth-child(1) .caveman__shape--circle:before {
    background-color: #932422;
}
body .container .caveman:nth-child(1) .caveman__arm-right {
    animation: arm-anima 1.2s infinite cubic-bezier(0.55, 0.01, 0.16, 1.34);
}
body .container .caveman:nth-child(1) .caveman__head {
    animation: head-anima 1.2s infinite cubic-bezier(0.55, 0.01, 0.16, 1.34);
    animation-delay: 0.6s;
}
body .container .caveman:nth-child(1) .caveman__head--eye:after, body .container .caveman:nth-child(1) .caveman__head--eye:before {
    animation: eye-anima 1.2s infinite cubic-bezier(0.55, 0.01, 0.16, 1.34);
    animation-delay: 0.6s;
}
body .container .caveman:nth-child(2) {
    left: 20px;
    transform: rotateY(180deg);
}
body .container .caveman:nth-child(2) .caveman__shape {
    background-color: #932422;
}
body .container .caveman:nth-child(2) .caveman__shape--circle {
    background-color: #d13433;
}
body .container .caveman:nth-child(2) .caveman__shape--circle:after, body .container .caveman:nth-child(2) .caveman__shape--circle:before {
    background-color: #d13433;
}
body .container .caveman:nth-child(2) .caveman__arm-right {
    animation: arm-anima 1.2s infinite cubic-bezier(0.55, 0.01, 0.16, 1.34);
    animation-delay: 0.6s;
}
body .container .caveman:nth-child(2) .caveman__head {
    animation: head-anima 1.2s infinite cubic-bezier(0.55, 0.01, 0.16, 1.34);
}
body .container .caveman:nth-child(2) .caveman__head--eye:after, body .container .caveman:nth-child(2) .caveman__head--eye:before {
    animation: eye-anima 1.2s infinite cubic-bezier(0.55, 0.01, 0.16, 1.34);
}
@keyframes arm-anima {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(-360deg);
    }
}
@keyframes head-anima {
    0% {
        top: 25px;
    }
    42% {
        top: 25px;
    }
    45% {
        top: 50px;
    }
    100% {
        top: 25px;
    }
}
@keyframes eye-anima {
    0% {
        height: 5px;
    }
    42% {
        height: 5px;
    }
    45% {
        height: 1px;
    }
    100% {
        height: 5px;
    }
}
@keyframes shadow-anima {
    0% {
        width: 350px;
        left: 80px;
    }
    25% {
        width: 450px;
        left: 80px;
    }
    50% {
        width: 350px;
        left: 80px;
    }
    75% {
        width: 450px;
        left: 0px;
    }
    100% {
        width: 350px;
        left: 80px;
    }
}

.flecha {
    position: absolute;
    grid-area: flecha;
    width: 10%;
}

.atras{
    animation: backOutLeft;
    animation-duration: 1s;
}
