
@font-face {
    font-family: BoneBrigade;
    src: url(../fuentes/BONEAPA.ttf);
}

h1 {
    color: black;
    font-size: 50px;
    text-align: center;
}

table {
    text-align: center;
    border-collapse: collapse;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}

table td {
    border: 1px solid black;
    height: 120px;
}

.gridModel td:nth-child(2) {
    width: 300px;
}

#color1 {
    background-color: #F2B705;
}

#color2 {
    background-color: #F27405;
}

#color3 {
    background-color: #591902;
}

#senseBorder td {
    border-bottom: none;
    border-right: none;
    border-left: none;
}

.BoneBrigade {
    font-family: BoneBrigade;
    font-size: 125px;
}