@import url('https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css');
@import url('https://fonts.googleapis.com/css?family=Arapey|Cantarell|Comfortaa|Khand|Russo+One|Ubuntu');

@font-face {
    font-family: BoneBrigade;
    src: url(../fuentes/BONEAPA.ttf);
}

@font-face {
    font-family: Dibujos;
    src: url(../fuentes/dibujos.ttf);
}

@font-face {
    font-family: bone2;
    src: url(../fuentes/BoneBrigade.otf);
}

::-webkit-scrollbar {
    display: none;
}

.btnPersonalizar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    grid-area: botones;
}

#btnGuardar{
    text-align: center;
    align-items: center;
    justify-content: center;
}

#btnRestaurar{
    text-align: center;
    align-items: center;
    justify-content: center;
}

#escModo{
    font-family: BoneBrigade, serif;
}

.botonesArriba {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-image: url("../imagenes/fondoPiedra.jpg");
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.botonesArriba:hover {
    background-color: #000000;
    box-shadow: 0px 15px 20px #ea9352;
    color: #000000;
    transform: translateY(-7px);
}

.flecha {
    position: absolute;
    width: 10%;
}

.atras{
    animation: backOutLeft;
    animation-duration: 1s;
}

.modo {
    background-color: #BF4904;
    opacity: 0.8;
    display: flex;
    align-items: center;
    grid-area: modo;
    width: 90%;
    height: 100%;
    margin-left: 5%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.modo p {
    text-align: center;
    margin-left: 20%;
    font-size: 40px;
    color: black;
}

.welcome {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    grid-area: welcome;
}

.welcome h2 {
    color: #BF4904;
}

.personalizacion {
    font-family: 'Comfortaa', cursive;
    display: none;
    grid-area: pers;
    width: 90%;
    height: 100%;
    margin-left: 5%;
    background-color: #8C2703;
    opacity: 0.8;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.hojas{
    display: flex;
    position: absolute;
    margin-top: 30%;
    width: 70%;
    margin-left: 6%;
    height: 1px;
}

.contingente {
    display: flex;
    flex-wrap: wrap;
    width: 99%;
    margin: 11px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.image {
    display: flex;
    align-items: center;
    justify-content: left;
}

.caer{
    display: flex;
    margin: 11px;
    padding: 10px;
    align-items: center;
    justify-content: left;
}

#escImagen {
    margin-right: 10px;
}

.titulo {
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: space-between;
}

.estaciones {
    display: flex;
    align-items: center;
    justify-content: left;
}

.noticias {
    display: flex;
    align-items: center;
    justify-content: left;
}

.tiempo {
    display: flex;
    align-items: center;
    justify-content: left;
}

.cara{
    display: flex;
    margin: 11px;
    padding: 10px;
    align-items: center;
    justify-content: left;
}

.uno {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: uno;
    width: 100%;
    height: 100%;
}

.uno p {
    position: absolute;
    color: #ffffff;
    visibility: hidden;
    font-size: 20px;
}

.dos {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: dos;
    width: 100%;
    height: 100%;
}

.dos p {
    position: absolute;
    color: #ffffff;
    visibility: hidden;
    font-size: 20px;
}

.tres {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: tres;
    width: 100%;
    height: 100%;
}

.tres p {
    position: absolute;
    color: #ffffff;
    visibility: hidden;
    font-size: 20px;
}

.cuatro {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: cuatro;
    width: 100%;
    height: 100%;
}

.cuatro p {
    position: absolute;
    color: #ffffff;
    visibility: hidden;
    font-size: 20px;
}

.cinco {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: cinco;
    width: 100%;
    height: 100%;
}

.cinco p {
    position: absolute;
    color: #ffffff;
    visibility: hidden;
    font-size: 20px;
}

.seis {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: seis;
    width: 100%;
    height: 100%;
}

.seis p {
    position: absolute;
    color: #ffffff;
    visibility: hidden;
    font-size: 20px;
}

.siete {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: siete;
    width: 100%;
    height: 100%;
}

.siete p {
    position: absolute;
    color: #ffffff;
    visibility: hidden;
    font-size: 20px;
}

.ocho {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: ocho;
    width: 100%;
    height: 100%;
}

.ocho p {
    position: absolute;
    color: #ffffff;
    visibility: hidden;
    font-size: 20px;
}

.nueve {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: nueve;
    width: 100%;
    height: 100%;
}

.nueve p {
    position: absolute;
    color: #ffffff;
    visibility: hidden;
    font-size: 20px;
}

#body {
    background-image: url("../imagenes/oscuro.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 99%;
    height: 99%;
    display: inline-grid;
    grid-template:
    'flecha flecha flecha' 65px
    'welcome welcome welcome' auto
    'modo modo modo' auto
    'pers pers pers' auto
    'botones botones botones' 100px
    'uno dos dos' 150px
    'tres tres tres' 150px
    'cuatro cinco seis' 200px
    'siete ocho nueve' 200px/
    33.333% 33.333% 33.333%;
}

#title {
    font-size: 125px;
    color: #ea9352;
    text-align: center;
    display: inline-block;
}

.fuente1 {
    font-family: BoneBrigade, serif;
}

.fuente2 {
    font-family: Dibujos, serif;
}

.fuente3 {
    font-family: bone2, serif;
}

.eventos {
    position: relative;
    height: 100%;
    width: 100%;
    border: 2px solid #ea9352;
    overflow: hidden;
    overflow-x: auto;
    color: #cccccc;
}

.eventos--inner {
    margin-top: 2%;
    font-size: 55px;
}

.eventos--inner marquee:hover {
    animation-play-state: paused;
}

#mySlides {
    width: 70%;
    height: 95%;
}

.buttonform {
    border: none;
    border-radius: 2px;
    padding: 6px 9px;
    margin: 5px;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    background-color: #59381c;
    box-shadow: 0 0 4px #999;
    outline: none;
}

.ripple {
    background-position: center;
    transition: background 0.8s;
}

.ripple:hover {
    background: rgba(199, 140, 71, 0.8) radial-gradient(circle, transparent 1%, rgba(122, 81, 36, 0.8) 1%) center/15000%;
}

.ripple:active {
    background-color: #c75605;
    background-size: 100%;
    transition: background 0s;
}

#constelacion {
    width: 70%;
    height: 95%;
    opacity: 0.8;
}

:root {
    --background-gradient: linear-gradient(30deg, #f39c12 30%, #f1c40f);
    --gray: #e89457;
    --darkgray: #a26833;
}

select {
    /* Reset Select */
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1em;
    color: #fff;
    background-color: var(--darkgray);
    background-image: none;
    cursor: pointer;
}

/* Remove IE arrow */
select::-ms-expand {
    display: none;
}

/* Custom Select wrapper */
.select {
    position: relative;
    display: flex;
    width: 10em;
    height: 1.5em;
    border-radius: .25em;
    overflow: hidden;
}

/* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.2em;
    background-color: rgba(128, 84, 38, 0.8);
    transition: .25s all ease;
    pointer-events: none;
}

/* Transition */
.select:hover::after {
    color: #f39c12;
}

.drop {
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(13,52,58,1)),
    to(rgba(13,52,58,1)));
    background:-moz-linear-gradient(top, rgba(13,52,58,1) 0%, rgba(255,255,255,0.6) 100%);
    width: 1px;
    height: 89px;
    position: absolute;
    bottom: 200px;
    -webkit-animation: fall .63s linear infinite;
    -moz-animation: fall .63s linear infinite;
}

@-webkit-keyframes fall { to {margin-top: 900px;}}
@-moz-keyframes fall { to {margin-top: 900px;}}