@font-face {
    font-family: BoneBrigade;
    src: url(../fuentes/BONEAPA.ttf);
}

:root {
    --bg: #3C465C;
    --primary: #ea9352;
    --solid: #fff;
    --btn-w: 4em;
    --dot-w: calc(var(--btn-w)*.5);
    --tr-X: calc(var(--btn-w) - var(--dot-w));
}
* {box-sizing: border-box;}
*:before, *:after {box-sizing: border-box;}

::-webkit-scrollbar {
    display: none;
}

/*Contenidor horitzontal*/
.flex-container {
    border-bottom: 2px solid #ea9352;
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
    align-items: center;
    grid-area: flexCon;
}

/*Títol de la web*/
.flex-item {
    width: 60%;
    text-align: center;
}

/*Lletres del títol*/
.flex-item span {
    font-size: 125px;
    font-family: BoneBrigade, serif;
    color: #ea9352;
    display: inline-block;
}

/*Fem un hover al títol per activar l'animació*/
.flex-item span:hover {
    animation: saltar 1s infinite;
}

/*Animació títol*/
@keyframes saltar {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}

/*Posición del icono*/
.flex-icono {
    width: 12%;
    text-align: center;
}

/*Tamany del icono*/
.flex-icono img {
    width: 100%;
    margin: 5px;
}

.flex-perfil {
    width: 8%;
    text-align: center;
    position: relative;
    display: inline-block;
}

.flex-perfil img {
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    text-decoration: none;
}

.flex-perfil:hover .dropdown-content {
    display:block;
}


.btnCerrar:hover, .btnCerrar:focus {
    box-shadow: inset -5em 0 0 0 var(--hover), inset 5em 0 0 0 var(--hover);
}

.btnCerrar {
    --color: #ea9352;
    --hover: #ffdc7f;
}

.btnCerrar {
    color: var(--color);
    transition: 0.25s;
}

.btnCerrar:hover, .btnCerrar:focus {
    border-color: var(--hover);
    color: #fff;
}

.btnCerrar {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 0.5em 1em;
}

.perfilCavernicola:hover {
    animation: temblar 0.5s;
    animation-iteration-count: infinite;
}


/*Animació de la destral*/
#icono:hover {
    transform: rotate(-360deg);
    transition: 0.5s;
}

@keyframes temblar {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.circle-menu li {
    list-style: none;
    display: inline;
}

.circle-menu {
    position: relative;
    width: 24em;
    height: 24em;
    border: dashed 2px #cccccc;
    border-radius: 50%;
    margin: 5em auto 7em;
    grid-area: menu;
}

.circle-menu a {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 7.5em;
    height: 7.5em;
    line-height: 6em;
    margin: -3.5em;
    -moz-border-radius: 4em;
    -webkit-border-radius: 4em;
    border-radius: 4em;
    text-align: center;
    text-decoration: none;
    color: white;
    box-sizing: border-box;
    font-weight: bold;
}

.circle-menu a p {
    font-size: large;
}

.circle-menu a.noticias {
    background-image: url("../imagenes/noticias.jpg");
    background-size: cover;
    opacity: 0.6;
}

.circle-menu a.tutoriales {
    background-image: url("../imagenes/tutoriales2.jpg");
    background-size: cover;
    opacity: 0.6;
}

.circle-menu a.tribus {
    background-image: url("../imagenes/tribus.jpg");
    opacity: 0.6;
}

.circle-menu a.saldo {
    background-image: url("../imagenes/saldo.jpg");
    background-size: cover;
    opacity: 0.6;
}

.circle-menu a.trabajo {
    background-image: url("../imagenes/trabajo.jpg");
    opacity: 0.6;
}

.circle-menu a.inventario {
    background-image: url("../imagenes/inventario.jpg");
    background-size: cover;
    opacity: 0.6;
}

.circle-menu a.tienda {
    background-image: url("../imagenes/tienda.jpg");
    background-size: cover;
    opacity: 0.6;
}

.circle-menu a.noticias:hover {
    background: #F29F05;
    opacity: 1.0;
}

.circle-menu a.tutoriales:hover {
    background: #F27405;
    background-size: cover;
    opacity: 1.0;
}

.circle-menu a.tribus:hover {
    background: #BF4904;
    opacity: 1.0;
}

.circle-menu a.saldo:hover {
    background: #591902;
    opacity: 1.0;
}

.circle-menu a.trabajo:hover {
    background: #260401;
    opacity: 1.0;
}

.circle-menu a.inventario:hover {
    background: #F2B705;
    opacity: 1.0;
}

.circle-menu a.tienda:hover {
    background: #F28705;
    opacity: 1.0;
}


/* 360/7= 51 roughly so for 7 elements rotate the element every 51deg. 12em translate is half the container */
.circle-menu .noticias {
    transform: rotate(51deg) translate(12em) rotate(-51deg);
    -webkit-transform: rotate(51deg) translate(12em) rotate(-51deg);
    -ms-transform: rotate(51deg) translate(12em) rotate(-51deg);
}

.circle-menu .tutoriales {
    transform: rotate(102deg) translate(12em) rotate(-102deg);
    -webkit-transform: rotate(102deg) translate(12em) rotate(-102deg);
    -ms-transform: rotate(102deg) translate(12em) rotate(-102deg);
}

.circle-menu .tribus {
    transform: rotate(153deg) translate(12em) rotate(-153deg);
    -webkit-transform: rotate(153deg) translate(12em) rotate(-153deg);
    -ms-transform: rotate(153deg) translate(12em) rotate(-153deg);
}

.circle-menu .saldo {
    transform: rotate(204deg) translate(12em) rotate(-204deg);
    -webkit-transform: rotate(204deg) translate(12em) rotate(-204deg);
    -ms-transform: rotate(204deg) translate(12em) rotate(-204deg);
}

.circle-menu .trabajo {
    transform: rotate(255deg) translate(12em) rotate(-255deg);
    -webkit-transform: rotate(255deg) translate(12em) rotate(-255deg);
    -ms-transform: rotate(255deg) translate(12em) rotate(-255deg);
}

.circle-menu .inventario {
    transform: rotate(306deg) translate(12em) rotate(-306deg);
    -webkit-transform: rotate(306deg) translate(12em) rotate(-306deg);
    -ms-transform: rotate(306deg) translate(12em) rotate(-306deg);
}

.circle-menu .tienda {
    transform: rotate(357deg) translate(12em) rotate(-357deg);
    -webkit-transform: rotate(357deg) translate(12em) rotate(-357deg);
    -ms-transform: rotate(357deg) translate(12em) rotate(-357deg);
}

.buscador {
    display: flex;
    max-width: 900px;
    padding: 5%;
    height: 100%;
    outline: none;
    grid-area: buscador;
}

.search-container {
    overflow: hidden;
    float: right;
    height: 4em;
    width: 4em;
    border-radius: 2em;
    box-shadow: 0 0 5px #6A5D4F;
    -moz-transition: all 0.35s;
    -webkit-transition: all 0.35s;
}

.search-container:hover, .search-container:focus, .search-container:focus-within {
    width: 25em;
    border-radius: 5px 2em 2em 5px;
    outline: none;
}

.search-container:hover input, .search-container:focus input, .search-container:focus-within input {
    display: inline-block;
    width: 19em;
    padding: 10px;
}

input {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    float: left;
    width: 0em;
    height: 2em;
    margin: 1em;
    margin-right: -4.5em;
    background: #fff;
    color: #6A5D4F;
    font-size: 1em;
    font-weight: 600;
    padding: 0px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2) inset;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-transition: all 0.25s;
    -webkit-transition: all 0.25s;
}

input:focus {
    outline: none;
    box-shadow: 0 -1px 1px rgba(255, 255, 255, 0.25), 0 1px 5px rgba(0, 0, 0, 0.15);
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    width: 1.75em;
    height: 1.75em;
    margin: 0.125em;
    background: #6A5D4F;
    text-align: center;
    font-size: 2em;
    color: #FDF6E3;
    border-radius: 50%;
    box-shadow: 0 -1px 1px rgba(255, 255, 255, 0.25), 0 1px 1px rgba(0, 0, 0, 0.25);
    text-shadow: 0 -2px 1px rgba(0, 0, 0, 0.3);
}

.button:active {
    border: 0 !important;
    text-shadow: 0 0 0;
}

.button i {
    font-size: 85%;
}


.button img {
    width: 80%;
    background-color: transparent;
}
.eventos {
    position: relative;
    height: 100%;
    width: 100%;
    border: 2px solid #ea9352;
    margin-bottom: 5%;
    overflow: hidden;
    overflow-x: auto;
    grid-area: eventos;
    color: #cccccc;
}

.eventos--inner {
    margin-top: 4%;
    font-size: 50px;
}

.eventos--inner marquee:hover {
    animation-play-state: paused;
}



.flex-footer {
    grid-area: footer;
    border: 2px solid #ea9352;
    margin-left: 5px;
}

.flex-footer p {
    color: white;
    text-align: center;
    margin-top: 20px;
}

.flex-footer button {
    margin-left: 35%;
    background-color: #ea9352;
}

.flex-footer h1 {
    color: white;
    text-align: center;
}

.flex-footer a {
    color: white;
}

.body-container {
    display: grid;
    grid-template:
        "flexCon flexCon flexCon" 200px
        "buscador buscador buscador" auto
        "menu menu menu" auto
        "eventos eventos footer" 170px/
        25%  50% 25%;
}

@media only screen and (max-width: 600px) {
    .body-container {
        display: grid;
        grid-template:
        "flexCon flexCon flexCon" auto
        "buscador buscador buscador" auto
        "menu menu menu" auto
        "eventos eventos footer" 100px/
        25%  50% 25%;
    }

    .flex-item span {
        font-size: 60px;
        font-family: BoneBrigade, serif, EA9352FF;
        display: inline-block;
    }

    .circle-menu {
        position: relative;
        width: 18em;
        height: 18em;
        border: dashed 2px #cccccc;
        border-radius: 50%;
        margin: 5em auto 7em;
        grid-area: menu;
    }

    .circle-menu a {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 6.5em;
        height: 6.5em;
        margin: -2.8em;
        line-height: 5.3em;
        -moz-border-radius: 4em;
        -webkit-border-radius: 4em;
        border-radius: 4em;
        text-align: center;
        text-decoration: none;
        color: white;
        box-sizing: border-box;
    }

    .circle-menu a p {
        font-size: 1em;
    }

    .circle-menu .noticias {
        transform: rotate(51deg) translate(9em) rotate(-51deg);
        -webkit-transform: rotate(51deg) translate(9em) rotate(-51deg);
        -ms-transform: rotate(51deg) translate(9em) rotate(-51deg);
    }

    .circle-menu .tutoriales {
        transform: rotate(102deg) translate(9em) rotate(-102deg);
        -webkit-transform: rotate(102deg) translate(9em) rotate(-102deg);
        -ms-transform: rotate(102deg) translate(9em) rotate(-102deg);
    }

    .circle-menu .tribus {
        transform: rotate(153deg) translate(9em) rotate(-153deg);
        -webkit-transform: rotate(153deg) translate(9em) rotate(-153deg);
        -ms-transform: rotate(153deg) translate(9em) rotate(-153deg);
    }

    .circle-menu .saldo {
        transform: rotate(204deg) translate(9em) rotate(-204deg);
        -webkit-transform: rotate(204deg) translate(9em) rotate(-204deg);
        -ms-transform: rotate(204deg) translate(9em) rotate(-204deg);
    }

    .circle-menu .trabajo {
        transform: rotate(255deg) translate(9em) rotate(-255deg);
        -webkit-transform: rotate(255deg) translate(9em) rotate(-255deg);
        -ms-transform: rotate(255deg) translate(9em) rotate(-255deg);
    }

    .circle-menu .tienda {
        transform: rotate(306deg) translate(9em) rotate(-306deg);
        -webkit-transform: rotate(306deg) translate(9em) rotate(-306deg);
        -ms-transform: rotate(306deg) translate(9em) rotate(-306deg);
    }

    .circle-menu .inventario {
        transform: rotate(357deg) translate(9em) rotate(-357deg);
        -webkit-transform: rotate(357deg) translate(9em) rotate(-357deg);
        -ms-transform: rotate(357deg) translate(9em) rotate(-357deg);

    }


    .eventos {
        position: relative;
        height: 100%;
        width: 100%;
        border: 2px solid #ea9352;
        margin-bottom: 5%;
        overflow: hidden;
        overflow-x: auto;
        grid-area: eventos;
    }

    .eventos--inner {
        position: absolute;
        margin: 7%;
        animation: marquee 10s linear infinite;
        width: 300%;
    }

    .eventos--inner:hover {
        animation-play-state: paused;
    }

    .eventos span {
        float: left;
        font-size: 30px;
        color: aliceblue;
        width: 50%;
    }

    @keyframes marquee {
        0% {
            left: 100%;
        }
        100% {
            left: -300%;
        }
    }


    .pestaña h1 {
        text-align: center;
        margin-top: 5px;
    }

    .pestaña p {
        display: none;
    }

    .pestaña button {
        display: none;
    }

    .flex-footer p {
        display: none;
    }

    .flex-footer h1 {
        font-size: 20px;
    }


}