@import url('https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css');
@font-face {
    font-family: BoneBrigade;
    src: url(../fuentes/BONEAPA.ttf);
}

:root {
    /* COLORS */
    --yellow: #f29f05;
    --redcavern: #8C2703;
    --orangeskin: #ea9352;
    --brown: #59381c;

    /* RADII */
    --button-radius: 0.7rem;

    /* SIZES */
    --max-width: 758px;
    --max-height: 420px;

    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-image: url("../imagenes/oscuro.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.welcome {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    grid-area: welcome;
}

h2 {
    text-align: center;
    font-family: BoneBrigade;
}

.imageRol {
    width: 20%;
    margin-left: 5px;
}

p {
    text-align: center;
    color: black;
    grid-area: p;
}

button {
    margin-left: 45%;
    margin-right: 45%;
    grid-area: button;
}

.diagrama {
    background: white;
    border: 3px solid black;
    margin-top: 30px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 30px;
    grid-area: diagrama;
}

.diagrama2{
    background: white;
    border: 3px solid black;
    margin-top: 30px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 30px;
    grid-area: diagrama2;
}

.diagrama h3 {
    text-align: center;
}

.diagrama2 h3 {
    text-align: center;
}

.flecha {
    margin-right: 95%;
    grid-area: flecha;
    width: 10%;
}

.table {
    margin-top: 30px;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 30px;
    display: table;
    width: 80%;
    border-collapse: collapse;
    background-image: url("../imagenes/fondoTabla.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    grid-area: tabla;
}

.table-row {
    display: table-row;
}

.table-head {
    background-image: url("../imagenes/fondoPiedra.jpg");
    font-weight: bold;
}

.table-cell, .table-head {
    display: table-cell;
    padding: 1em;
    border: #020202 1px solid;
    text-align: center;
    font-family: BoneBrigade, serif;
    color: #020202;
}

/*Contenidor horitzontal*/
.flex-container {
    border-bottom: 2px solid #ea9352;
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
    align-items: center;
    grid-area: flexCon;
}

/*Títol de la web*/
.flex-item {
    width: 60%;
    text-align: center;
}

/*Lletres del títol*/
.flex-item span {
    font-size: 125px;
    font-family: BoneBrigade, serif;
    color: #ea9352;
    display: inline-block;
}

/*Fem un hover al títol per activar l'animació*/
.flex-item span:hover {
    animation: saltar 1s infinite;
}

/*Animació títol*/
@keyframes saltar {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}

/*Posición del icono*/
.flex-icono {
    width: 12%;
    text-align: center;
}

/*Tamany del icono*/
.flex-icono img {
    width: 100%;
    margin: 5px;
}

.flex-perfil {
    width: 8%;
    text-align: center;
}

.flex-perfil img {
    width: 100%;
}

.btnCerrar:hover, .btnCerrar:focus {
    box-shadow: inset -5em 0 0 0 var(--hover), inset 5em 0 0 0 var(--hover);
}

.btnCerrar {
    --color: #ea9352;
    --hover: #ffdc7f;
}

.btnCerrar {
    color: var(--color);
    transition: 0.25s;
}

.btnCerrar:hover, .btnCerrar:focus {
    border-color: var(--hover);
    color: #fff;
}

.btnCerrar {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 0.5em 1em;
}

.perfilCavernicola:hover {
    animation: temblar 0.5s;
    animation-iteration-count: infinite;
}


/*Animació de la destral*/
#icono:hover {
    transform: rotate(-360deg);
    transition: 0.5s;
}

@keyframes temblar {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.segundoFondo {
    display: grid;
    background-image: url("../imagenes/fondoCuevaRupestre.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.8;
    margin: 50px;
    border-radius: 10px;
    grid-area: segundoFondo;
    grid-template:
    "flecha" auto
    "welcome" auto
    "p" auto
    "button" auto
    "tabla" auto
    "diagrama" auto
    "diagrama2" auto/
    auto;
}

.btn {
    margin-top: 20px;
    background-color: var(--brown);
    background-image: var(--orangeskin);
    border-radius: 20px;
    border: 2px solid #391A04;
    color: var(--yellow);
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding: 0.9rem 4rem;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.btn:active {
    transform: scale(0.95);
}

.btn:focus {
    outline: none;
}

.btn:hover {
    animation: pulse;
    animation-duration: 1s;
}

body{
    display: grid;
    grid-template:
    "flexCon"   200px
    "segundoFondo" auto /
    auto;
}

.atras{
    animation: backOutLeft;
    animation-duration: 1s;
}
