@import url('https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css');

html {
    background-image: url("../imagenes/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: BoneBrigade;
    src: url(../fuentes/BONEAPA.ttf);
}

.table {
    display: table;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border-collapse: collapse;
    background-image: url("../imagenes/fondo Tabla.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    grid-area: tabla;
}

.center-div {
    width: 100%;
    height: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-row {
    display: table-row;
    color: white;
}

.table-head {
    background-image: url("../imagenes/fondoPiedra.jpg");
    font-weight: bold;
}

.table-cell, .table-head {
    display: table-cell;
    padding: 1em;
    border: #020202 1px solid;
    text-align: center;
    font-family: BoneBrigade, serif;
    color: #020202;
}

select, input {
    max-width: 300px;
    width: 100%;
    border: 1px solid #fff;
    padding: 0.625rem;
    margin:0.5%;
    color: #f29f05;
    font-size: 16px;
    background-image: url("../imagenes/busqueda.jpg");
}
.flecha {
    margin-right: 95%;
    width: 10%;
}
input:hover {
    max-width: 300px;
    width: 100%;
    border: 1px solid #fff;
    padding: 0.625rem;
    color: #ffffff;
    font-size: 16px;
    background-image: url("../imagenes/piedraRota.jpg");
}

select:focus {
    outline: 0;
}

p{
    text-align: center;
    font-family: BoneBrigade, serif;
}

.atras{
    animation: backOutLeft;
    animation-duration: 1s;
}
