@import url('https://fonts.googleapis.com/css?family=Arapey|Cantarell|Comfortaa|Khand|Russo+One|Ubuntu');

.tooltip {
    position: relative;
    display: inline-block;
    font-family: 'Comfortaa', cursive;
}
.tooltip .tiptext {
    visibility: hidden;
    width: 50%;
    background: #333;
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    color: #ea9352;
    text-align: center;
    border-radius: 3px;
    padding: 3% 5%;
    position: absolute;
    z-index: 1;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    animation: odsoky 1s ease-in-out infinite  alternate;
}
.tooltip .tiptext::after {
    content: "";
    position: absolute;
    border-width: 5px;
    border-style: solid;
}
.tooltip:hover .tiptext {
    visibility: visible;
}

@keyframes odsoky {
    0%{
        transform: translateY(6px);
    }

    100%{
        transform: translateY(1px);
    }

}

.tooltip.bottom .tiptext{
    margin-left: -60px;
    top: 100%;
    right: 30%;
}
.tooltip.bottom .tiptext::after{
    margin-left: -5px;
    bottom: 100%;
    left: 50%;
    border-color: transparent transparent #2E2E2E transparent;
}

.tooltip.top .tiptext{
    margin-left: -60px;
    bottom: 150%;
    left: 50%;
}
.tooltip.top .tiptext::after{
    margin-left: -5px;
    top: 100%;
    left: 50%;
    border-color: #2E2E2E transparent transparent transparent;
}

.tooltip.left .tiptext{
    top: -5px;
    right: 110%;
}
.tooltip.left .tiptext::after{
    margin-top: -5px;
    top: 50%;
    left: 100%;
    border-color: transparent transparent transparent #2E2E2E;
}
.tooltip.right .tiptext{
    top: -5px;
    width: 50%;
    left: 110%;
}

.tooltip.right .tiptext::after{
    margin-top: -5px;
    top: 50%;
    right: 100%;
    border-color: transparent #2E2E2E transparent transparent;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////*/


/*MENU*/
.tooltip.menu .tiptext{
    top: -5px;
    width: 100%;
    left: 110%;
}

.tooltip.menu .tiptext::after{
    margin-top: -5px;
    top: 50%;
    right: 100%;
    border-color: transparent #2E2E2E transparent transparent;
}

/*TITULO*/
.tooltip.titulo .tiptext{
    margin-left: -60px;
    top: 100%;
    right: 30%;
}
.tooltip.titulo .tiptext::after{
    margin-left: -5px;
    bottom: 100%;
    left: 50%;
    border-color: transparent transparent #2E2E2E transparent;
}

/*CHECKBOX*/
.tooltip.checkbox .tiptext{
    top: 30%;
    width: 300%;
    left: 110%;
}

.tooltip.checkbox .tiptext::after{
    margin-top: -5px;
    top: 50%;
    right: 100%;
    border-color: transparent #2E2E2E transparent transparent;
}

/*BTNGUARDAR*/
.tooltip.btnGuardar .tiptext{
    top: -5px;
    width: 200%;
    left: 110%;
}

.tooltip.btnGuardar .tiptext::after{
    margin-top: -5px;
    top: 20%;
    right: 100%;
    border-color: transparent #2E2E2E transparent transparent;
}

/*FLECHA*/
.tooltip.flecha .tiptext{
    margin-left: -60px;
    width: 40%;
    top: 130px;
    left: 15%;
}
.tooltip.flecha .tiptext::after{
    margin-left: -5px;
    bottom: 100%;
    left: 50%;
    border-color: transparent transparent #2E2E2E transparent;
}

/*ERROR*/
.tooltip.error .tiptext{
    margin-left: -60px;
    top: 100%;
    width: 200%;
    right: -15%;
}
.tooltip.error .tiptext::after{
    margin-left: -5px;
    bottom: 100%;
    left: 50%;
    border-color: transparent transparent #2E2E2E transparent;
}


/*LOGO*/
.tooltip.logo .tiptext{
    margin-left: -60px;
    top: 100%;
    width: 100%;
}
.tooltip.logo .tiptext::after{
    margin-left: -5px;
    bottom: 100%;
    left: 50%;
    border-color: transparent transparent #2E2E2E transparent;
}

/*REGISTER*/
.tooltip.register .tiptext{
    margin-left: -60px;
    top: 75%;
    right: 30%;
}
.tooltip.register .tiptext::after{
    margin-left: -5px;
    bottom: 100%;
    left: 50%;
    border-color: transparent transparent #2E2E2E transparent;
}

.tooltip.flex-footer .tiptext{
    margin-left: -60px;
    top: 75%;
    right: 30%;
}
.tooltip.flex-footer .tiptext::after{
    margin-left: -5px;
    bottom: 100%;
    left: 50%;
    border-color: transparent transparent #2E2E2E transparent;
}